@import url('https://fonts.googleapis.com/css2? family= IBM+Plex+Sans:wght@100 & family= Pacifico & family= Poppins:wght@100 & display=swap');
body,main {
    background-color: #121214;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #FFFFFF;
}
main {
    width: 100%;
    display: flex;
    justify-content: center;
}
div.logo {
    position: relative;
    width: 720px;
    height: 300px;
    background: url("../img/logo/logo\ 1.png") no-repeat center top;
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
ul{
    list-style-type:none;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
}
li {
    width: 160px;
    height: 160px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
figure {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 5px;
}
.frame4 {
    opacity: 0.3;
}
.frame4:hover {
    opacity: 1.3;
}
figure img {
    width: 160px;
    height: auto;
    border-radius: 5px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    
}
figure:hover {
    border: #fff solid 3px;
}
figure:hover img {
	transform: scale(1.3);
    color:#fff;
}

figure:hover+span {
	opacity: 1;
}
a {
    position: absolute;
    list-style-type: none;
    text-decoration: none;
}
span {
	bottom: 20px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
.button {
    width: 206px;
    height: 50px;
    border: 1.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-top: 10%;
}
.button:hover {
    background: #fff;
    color:black;
}
.manage {
    position: absolute;
    left: 21.36%;
    right: 21.36%;
    font-weight: 500;
    font-size: 16px;
}
